$primary: #1EC9AC;
$background: #000;

$font-primary: rgba(255,255,255,.7);
$font-hightlight: #fff;
$font-secondary: #e83e8c;

$tablet: 769px !default;
$desktop: 1000px !default;
$widescreen: 1192px !default;
$fullhd: 1384px !default;